"\e[A":history-search-backward
"\e[B":history-search-forward

"\e[1;5C": forward-word
"\e[1;5D": backward-word

#"\e[\eH": backwards-kill-word

"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

# allow the use of the Delete/Insert keys
"\e[2~": quoted-insert
#"\e[2~": yank                   # Insert
# "\e[3~": delete-char
"\e[3~":delete-char             # Suppr

set mark-symlinked-directories on

# On MacOS: ~/Library/Keybindings/DefaultKeyBinding.dict
#{
#    "~d" = "deleteWordForward:";
#    "^w" = "deleteWordBackward:";
#    "~f" = "moveWordForward:";
#    "~b" = "moveWordBackward:";
#}
