"\e[A":history-search-backward
"\e[B":history-search-forward

"\e[1;5C":forward-word
"\e[1;5D":backward-word

# allow the use of the Delete/Insert keys
"\e[2~": quoted-insert
#"\e[2~": yank                   # Insert
# "\e[3~": delete-char
"\e[3~":delete-char             # Suppr

set mark-symlinked-directories on
