.old-conf*
log*
tags
*nixpkgs/pgi*
result
backup

# Ignore all in nvim except init.vim and snippets and coc-settings.json
dotfiles/.config/nvim/*
!dotfiles/.config/nvim/init.vim
!dotfiles/.config/nvim/snippets/
!dotfiles/.config/nvim/coc-settings.json

*.zwc
*.DS_store
