snippet ipandas "import pandas as pd" b
import pandas as pd
endsnippet

snippet inumpy "import numpy as np" b
import numpy as np
endsnippet

snippet iannotations "from __future__ import annotations" b
from __future__ import annotations
endsnippet

snippet ilogger "from loguru import logger" b
from loguru import logger
endsnippet

snippet itypechecking "from typing import TYPE_CHECKING" b
from typing import TYPE_CHECKING
endsnippet
