snippet ipandas "import pandas as pd" b
import pandas as pd
endsnippet

snippet ifuture "from __future__ import annotations" b
from __future__ import annotations
endsnippet

snippet ilogger "from loguru import logger" b
from loguru import logger
endsnippet
