[user]
	# email = jeusel.guillaume@gmail.com
	email = guillaume.jeusel@renewex.co
	name = Jeusel Guillaume

[core]
	editor = nvim
	ignorecase = false

[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[difftool]
	prompt=false
[diff "sopsdiffer"]
	textconv = sops -d

[pull]
	rebase = false

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
[diff]
	tool = vimdiff
[difftool "vimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

# [diff]
# 	tool = difftastic
# 	external = difft
# [difftool "difftastic"]
# 	cmd = difft --display inline --color always "$LOCAL" "$REMOTE"

