# Configuration file for "GNU readline"

# If on, allow 8-bit input (needed for UTF-8)
set input-meta on

# If on, allow 8-bit output
set output-meta on

# If on, convert characters with 8th bit set to escape sequences
set convert-meta off

# Ignore case in completion (on or off)
set completion-ignore-case on

# Makes completion case-insensitive, preserving case
set completion-map-case on

# Append / to directory names in completion
set mark-directories on
